# ====================
# Python
# ====================

# Bytecode / caché compilado
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd

# Distribución / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Entornos virtuales
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Instalador de Python
pip-log.txt
pip-delete-this-directory.txt

# Tests / cobertura
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# mypy / pytype / pyright
.mypy_cache/
.dmypy.json
dmypy.json
.pytype/
.pyre/

# ====================
# IDEs y editores
# ====================

# VS Code
.vscode/

# PyCharm / JetBrains
.idea/
*.iml

# Spyder
.spyderproject.cfg
.spyproject/

# Sublime Text
*.sublime-project
*.sublime-workspace

# ====================
# Sistema operativo
# ====================

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# ====================
# Misceláneos
# ====================
*.log
*.sqlite3
*.db